/**:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*/
/*body{
	margin: 3rem;
}*/

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

header {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
    
}

.desktopScreenNavbar{
    
    background: red;
    background-color: rgba(255, 255, 255, .9);
    transition: background 1s ease;

}


a {
	color: currentColor;
}

img{
	width: 100%;
}

.menu{
	display: flex;
	color: #000066;
	font-size: 17px;
	font-family: arial;
	width: 100%;
	padding-top: 10px;
	/*padding-bottom: 30px;	*/
}

/*menu links*/
.menu a{
	margin-left: 2rem;
}

@media only screen and (max-width: 768px){
#mwrap {
    padding-top: 3.5%;
}
}

@media only screen and (max-width: 960px){
#mwrap {
    display: block;
}
}

@media screen and (max-width: 600px) {
  .menu a  {
    float: right;
    width: 100%;
  }
}

#mwrap {
    float: right;
    padding-right: 3%;
    z-index: 1000;
}
/*Removes the bullets.*/
ul {
  list-style-type: none;
  position: fixed;
  width: 90%;
  text-align: right;
  display: inline;
}

li{
	display: inline;
	/*float: left;*/
	/*text-align: left;*/
	/*text-align: right;*/
}

li a:hover {
  background-color: #999999;
}

.active {
  background-color: #111111;
}


.bemo_logo img{
	width: 167px;
	height: 100px;
	position: fixed;
}

#featureImg {
    width: 100%;
    height: auto;
}

#featureTxt {
    font-size: 46px;
}
#featureTxt {
    font-family: arial;
}  

#featureTxt {
    color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    text-align: center;
    line-height: 60px;
    letter-spacing: 10px;
    z-index: 1000;
}




@media only screen and (max-width: 568px) {
#featureTxt {
    line-height: 32px;
    top: 30%;
    letter-spacing: 3px!important;
}
}
@media only screen and (max-width: 320px){
#featureTxt {
    top: 20%;
    font-size: 18px!important;
    line-height: 18px;
}
}

@media only screen and (max-width: 768px){
#featureTxt {
    letter-spacing: 6px;
}
}

#featureTxt:after {
    content: "";
    display: block;
    height: 1px;
    padding-bottom: 12px;
    border-bottom-color: #FFFFFF;
    width: 60%;
    border-bottom: 2px solid;
    margin: 0px auto;
}

.paragraph {
    font: 16px Arial, Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    margin-left: 30px;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    text-align: justify;
    color: #373737;

}

#footer {
    background-color: #000066;
    padding: 2% 5% 2% 5%;
    color: #FFFFFF;
    font-family: arial;
    border: 0;
    outline: 0;
    font-size: 100%;
    left: 0;
    bottom: 0;
    width: 100%;

}

body {
    -webkit-font-smoothing: antialiased;
}

.form-input-field {
    color: #333333;
    background: #CCCCCC;
    width: 70%;
    width: 85%;
    margin-top: 7px;
    padding: 9px;
    outline: none;
    border: none;
}

.uniform__potty {
    position: absolute;
    left: -9999px;
}


